/* mobile.css */
/* Ubah breakpoint menjadi mobile-only (di bawah 768px) */
@media (max-width: 991px), (max-width: 844px) and (orientation: landscape) {
  .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .navbar {
    top: 0;
    z-index: 1000;
  }
  
  /* Sembunyikan dropdown menu di mobile */
  .navbar .dropdown-menu {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: revert;
  }

  .navbar-nav .nav-link {
    padding-right: 2vw !important;
    padding-left: 2vw !important;
  }

  .dropdown-menu.show{
    display: flex !important;
    flex-direction: column !important;
  }

  .main-menu .dropdown-menu li{
    justify-items: flex-start;
    width: 100%;
  }

  .main-menu {
    padding: 2%;
    margin-top: 2%;
  }

  .glass-dropdown {
    background: #fff !important;
    backdrop-filter: none !important;
    border: none !important;
    color: #212529 !important;
  }
  
  .glass-dropdown .dropdown-item {
      color: #212529 !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #212529 !important;
  }

  .main-menu .dropdown-menu .btn-group .dropdown-item {
      padding-left: 2vw;
      padding-right: 2vw;
  }



}