.so-widget-sow-icon-default-afe04178d2b2 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-afe04178d2b2 .sow-icon span,
.so-widget-sow-icon-default-afe04178d2b2 .sow-icon a span {
  display: inline-block;
  color: #000000 !important;
  font-size: 12px !important;
}